.gameboard-cover {
  aspect-ratio: 16 / 10;
  object-fit: cover;
  width: 100%;
}

.gameboard-card .card-body {
  display: flex;
  flex-direction: column;
}

.gameboard-card .card-text {
  flex: 1;
}
