{% extends 'common/base.html' %}

{% block content %}

<div class="container mt-4">
    <h2>Revenus</h2>
    <hr>
    
    <!-- Bouton pour ajouter une source de revenu -->
    <a href="#" class="btn btn-primary mb-3">Ajouter un Revenu</a>
    
    <!-- Tableau des revenus -->
    {% if revenues %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Montant</th>
                    <th>Fréquence</th>
                    <th>Prochain Paiement</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for revenu in revenues %}
                    <tr>
                        <td>{{ revenu.nom }}</td>
                        <td>{{ revenu.montant }}</td>
                        <td>{{ revenu.get_frequence_display }}</td>
                        <td>{{ revenu.date_prochain_paiement|date:"d/m/Y" }}</td>
                        <td>
                            <!-- Actions possibles (éditer, supprimer) -->
                            <a href="#" class="btn btn-sm btn-secondary">Éditer</a>
                            <a href="#" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun revenu enregistré.</p>
    {% endif %}
</div>

{% endblock %}
