/* styles.css */

/* Personnalisation de la jumbotron */
.jumbotron {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
}

/* Personnalisation des cartes */
.card-header {
    font-weight: bold;
    background-color: #343a40;
    color: white;
}

/* Boutons personnalisés */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}
