

<header>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Mizzac</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <!-- Remplacez ces liens par les liens vers vos applications Django -->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#DrunkBoard">DrunkBoard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#FundBoard">FundBoard</a>
              </li>
              <!-- Ajoutez d'autres liens selon vos applications -->
            </ul>
          </div>
        </div>
      </nav>

</header>