<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MizzaC Dashboard</title>
    <!-- Insérez ici les liens vers les feuilles de style CSS nécessaires -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet"> <!-- Exemple pour le CSS généré par Vue.js -->
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div id="dashboard">
        <!-- Votre application Vue.js sera montée ici -->
    </div>

    <!-- Scripts Vue.js et dépendances -->
    <script src="{% static 'js/chunk-vendors.js' %}"></script> <!-- Exemple pour les vendors générés par Vue.js -->
    <script src="{% static 'js/app.js' %}"></script> <!-- Exemple pour le JavaScript généré par Vue.js -->
    {% block extra_js %}{% endblock %}
</body>
</html>
